html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

body{
  background-color: #EAFFEC;
}

.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}

.top {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    justify-content: space-around;
    width: 100vw;
    overflow-y: hidden;
    height: 25vh;
}

.middle {
    font-family: 'Junge';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle h1 {
    position: relative;
    top: 20px;
}
.available{
    display: flex;
    justify-content: center;
    column-gap: 25px;
    align-items: center;
}

.available h1{
  font-family: 'Junge';
}
.available button{
    height: 35px;
    width: 180px;
    background-color: #D8393B;
    cursor: pointer;
    border: none;
    font-family: 'Comfortaa';
    transition: 1s;
    border-radius: 40px;
    color: white;
}
.available button:hover{
  background-color: white;
  border: 2px solid #D8393B;
  color: #D8393B;
}
.ssearch {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 600px;
    border: 2px solid #000000;
    border-radius: 40px;
    font-family: 'Comfortaa';
    padding: 5px;
    height: 28px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #D8393B;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #000000;
    background: #000000;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.main__logo {
    height: 150px;
    width: 150px;
}

.img__1 {
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 80px;
    left: 150px;
}

.img__2 {
    position: absolute;
    z-index: 9;
    left: -100px;
    height: 250px;
    width: 250px;
    top: 100px;
}

.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.item__layout{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,300px);
    column-gap: 40px;
    row-gap: 40px;
    height: auto;
}

.item__details{
    height: 300px;
    font-family: 'Junge';
    width: 230px;
    border-radius: 15px;
    border: 3px solid #D8393B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.item__details img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.items__{
    width: 230px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    transition: 0.5s ease-out;
    background-color: #00000000;
    backdrop-filter: blur(2px);
    overflow: visible;

}

.card-button {
    width: 60%;
    border-radius: 1rem;
    border: none;
    font-family: 'Comfortaa';
    background-color: #D8393B;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 25%;
    bottom: -20px;
    opacity: 1;
   }

/* Footer */


#footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nextButton i {
    background-color: #D8393B;
    color: white;
    padding: 10px 13px 10px 13px;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    left: 120px;
  }
  
  .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
  }
  
  .foot__heading {
    font-family: 'Jungee';
  }
  
  .foot__heading hr, .foot hr {
    color: #D8393B;
    border: 1px solid #D8393B;
    opacity: 100%;
  }
  
  .footer__logos {
    margin-top: 20px;
    color: #D8393B;
  }
  
  .footer__logos i {
    margin-right: 10px;
    cursor: pointer;
  }

  .foot__text{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .foot__text h5{
    font-family: 'Comfortaa';
    cursor: pointer;
    color: #D8393B;
    transition: 1s;
  }
  .foot__text h5:hover{
    color: #000000;
  }
  
  @media (max-width:540px) {
    .nextButton i {
      margin-left: 30px;
      padding: 5px 7px 5px 7px;
      left: 30px;
    }
  
    .foot {
      left: 0px;
    }
  }